boto3==1.17.82
PyGithub==1.55
black==21.5b1
flake8==3.9.2
pytest==6.2.4
pytest-cov==2.12.0
pytest-mock==3.6.1
pytest-cov==2.12.0
requests==2.25.1
moto==2.0.8
pytest-mock==3.6.1
PyInquirer==1.0.3
click==8.0.1
cfn-flip==1.2.3
anybase32==1.1.0
deepdiff==5.2.3
dynamodb-json==1.3
